*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* ########################################## Header ################################*/
.navbar{
    height: 121px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.container-fluid {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar button {
    border: none;
    background-color: transparent;
}
.admin{
    display: flex;
    align-items: center;
}
.admin a{
    margin-right: 20px;
    font-size: 14px;
    color: #A0A0A0;
}
.admin img{
    margin-left: 15px;
}

/* ################################### section styling #################################### */

section{
    background: #D9E2ED;
}

/* ############################## left side styling ###################################### */


.left_side{
    min-height:100vh;
    height: 100%;
    width: 120px;
    padding: 0%;
    background: #002C58;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.left_side a {
    color: white;
    text-decoration: none;
    margin-top: 8px;
}

#dashboard, #users{
    height: 120px;
    border-bottom: 1px solid gray;
}
.nunito{
    font-family: 'Nunito';
}
.dashboard_body{
    width: 100%;
    background-color: #D9E2ED;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
}
hr{
    background-color: #55AFFF;
}
.border_class {
    border-left:4px solid transparent;
}
.border_class:hover {
    border-left:4px solid rgb(0, 162, 255);
}
.border_class img{
    width: 25px;
}


/* ############################## upper side styling #####################################*/


.upper_side{
    /* border: 2px solid black; */
    height:150px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.upper_side h2{
    font-size: 50px;
    font-weight: 200;
    color: #858585;
    margin: 0;
}
.lower_side{
    height:auto;
    width: 100%;
    margin: auto;
    padding-top:15px;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
}
.table>tbody {
    vertical-align: baseline;
}
.button-group button {
    border: none;
    padding: 5px 16px;
    border-radius: 100px;
    background-color: #55AFFF;
    font-weight: 700;
    box-shadow: 1px 2px 10px -4px;
}


 /*################################### recent button styling ###############################*/


.user_upper_side{
    height: 150px;
}
#user_tag{
    font-size: 26px;
}
#search input {
    padding-right: 20px;
}
#search_options #recent{
    position: relative;
    max-width: 108px;
    width: 100%;
    height: 29px;
    border-radius: 25px;
    border: 1px solid #445067;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.monstrrate{
    font-family: 'Montserrat';
}

#search_options #recent ul{
	background:#fff;
    width: 105px;
    height: 150px;
    border-radius: 5px;
    list-style: none;
	visibility: hidden;
	position: absolute;
    top: 29px;
    left: 0px;
    padding: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#search_options #recent ul li{
    text-align: center;
    /* background:#d1d1d1; */
    height: 45px;
    width: 100%;

}
#search_options #recent ul li:hover{
     background:#d1d1d1;
     height: 45px;
     width: 100%;
}
#search_options #recent ul:hover {
    visibility: visible;
  }

#search_options #recent h6{
    font-size: 13px;
    color: #445067;
    margin-top: 6px;
}


 /* ################################# search bar styling ###############################*/


#search_options  #search{
    position: relative;
    max-width: 375px;
    width: 100%;
    height:29px;
    margin-left: 10px;
}
#search input{
    padding-left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #445067;
    font-size: 13px;
}
#search img{
    position: absolute;
    right: 15px;
    top: 8px;
}

/*####################### displaying button ############################ */

#displaying_items h6{
    color: #445067;
    font-weight: 300;
}
#displaying_items #page_no{
    width:56px;
    height: 29px;
    border-radius: 25px;
    border: 1px solid #3b5a7e;
    margin-left: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#displaying_items #page_no h6{
    margin-top: 4px;
    font-size: 13px;
   color: #445067;
    font-weight: lighter;
    font-weight: 300;
}


/* ############################## table styling ########################### */

.table>div{
    margin-bottom: 20px;
}
.table>div>div{
    font-size: 14px;
  
}
.table-head{
    height: 29px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.table-head>div{
    font-family: 'Nunito';
    color: #333;
}

.table-row{
    height: 99px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.table-row div{
    font-family: 'Montserrat';
}
.id,.name{
    color: #212121;
}
.joined-date{
    color: #9a9a9a;
}
.email{
    color: #858585;   
}
.team{
    color: #535353;
}



/* ############################## pagination styling ############################ */


.pagination {
    display:flex;
    justify-content: center;
    align-items: center;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border:1px solid transparent;
}
  
.pagination a:hover{
    border:1px solid  #55AFFF;
    border-radius: 25px;
}
#previous,
#next{
    background-color: #55AFFF;
    color: white;
    border-radius: 25px;

}