@font-face {
    font-family: 'League Gothic';
    src: url('LeagueGothic-Regular.woff2') format('woff2'),
        url('LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

